.gradle/
build/
out/
*.iml
.idea/
.vscode/
.tools/
.tools-*.zip
paper-builds.json
test-server/cache/
test-server/config/
test-server/libraries/
test-server/logs/
test-server/versions/
test-server/world/
test-server/lobby/
test-server/plugins/
test-server/paper.jar
test-server/*.yml
test-server/*.json
test-server/usercache.json
test-server/.console_history
test-server/eula.txt
